<div class="panel-body">
  <div class="border margin p-3">
    <p class="h3 p-2 artist-name">{{ artistDetail?.name }}</p>
    <p></p>
    <div class="row">
      <div class="col-md-3">
        <div class="thumb" style="width: 10rem; height: 13rem">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ artistDetail?.image }}"
            alt="{{ artistDetail?.name }}"
          />
        </div>
      </div>
      <div class="col-md-7" id="tablaDetalleArtist">
        <dl>
          <dt class="text-title">Lugar de nacimiento</dt>
          <dd class="text">{{ artistDetail?.birthplace }}</dd>
          <dt class="text-title">Fecha de nacimiento</dt>
          <dd class="text">{{ artistDetail?.birthdate }}</dd>
        </dl>
        <p class="h5">Movimientos artisticos</p>
        <ul>
          <li
            *ngFor="let movement of artistDetail?.movements"
            routerLink="/movements/{{ movement.id }}"
          >
            {{ movement.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
