<div class="panel-body">
  <div class="border margin p-3" id="detalleMoviemiento">
    <p class="h3 p-2 movement-name">{{ movementDetail?.name }}</p>
    <br />
    <div class="row">

      <div class="col-md-7" id="listaDetalleMovimiento" style="width: 66rem; height: 26rem">
        <dl>
          <dt class="text-title">Country of origen</dt>
          <dd class="text">{{ movementDetail?.countryOfOrigin }}</dd>
          <dt class="text-title">Active Years</dt>
          <dd class="text">{{ movementDetail?.activeYears }}</dd>
          <dt class="text-title">Description </dt>
          <dd class="text">{{ movementDetail?.description }}</dd>
        </dl>

      </div>
    </div>
  </div>
</div>
